@import url('https://fonts.googleapis.com/css?family=Mako|Ropa+Sans|Cookie&display=swap');

.App {
	text-align: center;
	background-color: #f5f5f5;
	font-family: Mako;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #242424;
	height: 10vh;
	color: #f5f5f5;
	position: fixed; 
	top: 0; 
	width: 100%;
}

.menu {
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	width: 60%;
	margin-right:3%;
}

.menu a {
	margin-left: 2vw;
	color: #f5f5f5;
	text-decoration: none;
	font-size: 1.1em;
	border-bottom: solid 1px transparent;
	transition:0.2s ease-out, 
}

.menu a:hover {
	border-bottom: solid 2px #f5f5f5
}

.hero   {
	background-color: #f5f5f5;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.hero-title {
	margin-top: 5vh;
}

a{
	cursor: pointer;
}

#logo {
	margin-left:2vw;
	color: #f5f5f5;
}

h1 {
	font-family: Ropa Sans;
	font-size: 4em;
	font-weight: lighter;
	color: #3d3d3d;
	margin:0;
}

h2 {
	font-family: Mako;
	font-size: 2em;
	color: #3d3d3d;
}

h3 {
	font-family: Mako;
	font-size: 1.5em;
	color: #3d3d3d;
}

.bio {
	width: 50%;
	font-family: Mako;
}

.square{
	border:2px solid #242424;
	padding: 0 25px;
	font-family: Cookie;
	color: #242424;
	font-size: 1.4em;
	transition: 0.2s;
	cursor: pointer;
	box-shadow: 4px 4px #242424;
}

.square:hover {

	box-shadow: 8px 8px #242424;
}

.skills {
	margin-top: 10vh;
}

.skills img {
	margin: 0 5px;
}

.skills-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resume {
	font-size: 1.2em;
	border: #3d3d3d 1px solid;
	box-shadow: 2px 2px #3d3d3d;
	padding: 5px 25px;
	text-decoration: #3d3d3d;
	color: #3d3d3d;
	margin-top: 20px;
	transition: all 200ms linear;
}


.resume:hover {

	box-shadow: 4px 4px #3d3d3d;
}
.projects{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;

}

.project{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 2vh;
}

.project-image{
	border: 3px solid  #3d3d3d;
	margin-right:5px;
	width: 20%;

}

.project-info{
	border: 3px solid #3d3d3d;
	margin-left:5px;
	width: 40%;
	padding:15px;
	top:0;
	display: flex;
	flex-direction: column;
	background-color: #F0EDED;
}

.project-info h3{
	padding:5px;
	margin:0;
	width: 100%;
	font-size: 1.8em;
}

#contact {
	margin-top: 10vh;
}

.image {
	width:100%;
	object-fit: cover;

}

p{
	font-size: 1.1em;
}

@media (max-width: 550px) {
	.bio {
	  width: 70%;
	}

	.skills-icons img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
	}

	.contact-icons img {
		width: 40px;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-family: Mako;
		font-size: 1.4em;
	}

	p {
		font-size: 0.8em;
		
	}
  }

  #code-icons {
	  margin:10px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }

  #code-icons img {
	margin:10px;
}

  #form {
	position: relative;
	width: 50%;
	margin: 50px auto 100px auto;
	height: 50vh;
  }
  
  input {
	font-size: 1em;
	width: 95%;
	height: 50px;
	padding: 0px 15px 0px 15px;
	margin-bottom: 1vh;
	background: transparent;
	outline: none;
	font-family: Mako;
	color: #3d3d3d;
	border-bottom: none;
	border:3px solid #3d3d3d;
  }

  
  textarea {
	width: 95%;
	height: 15vh;
	padding: 15px;
	font-family: Mako;
	background: transparent;
	outline: none;
	color: #3d3d3d;
	font-size: 1em;
	border:3px solid #3d3d3d;
  }
    
  #submit {
	width: 10vw;
	line-height: 2px; 
	padding: 20px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	height: 5vh;
	margin-top:2vh;
	outline:none;
	cursor: pointer;
	background-color: #242424;
	color: #f5f5f5;
	border: none;
  }
  
